.gitconfig
.swt/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TM.blf
NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
source/
Application Data/
Cookies/
Local Settings/
NetHood/
PrintHood/
Recent/
SendTo/
главное меню/
Мои документы/
Шаблоны/
Client_Server/build-client-Desktop-Debug/

Client_Server/build-net_resource-Desktop-Debug/
Client_Server/build-server-Desktop-Debug/
























Project/Class_of_tree.cpp
